<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UnnamedProperty" value="100"/>
    <add key="NamedProperty" value="some string"/>
    <add key="UnnamedOverridenProperty" value="300"/>
    <add key="NamedOverridenProperty" value="overriden string"/>
  </appSettings>
</configuration>