<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UnnamedPropertyFromCustomConfig" value="200"/>
    <add key="NamedPropertyFromCustomConfig" value="some custom string"/>
    <add key="UnnamedOverridenProperty" value="400"/>
    <add key="NamedOverridenProperty" value="overriden custom string"/>
  </appSettings>
</configuration>