<img data-bind="attr:{src: $root.media.toRaceImage(RaceId)}" alt="RaceImage" />
<img class="hidden-xs" data-bind="attr:{src: $root.media.toClassImage(ClassId)}" alt="ClassImage" />
<img data-bind="attr:{src: $root.media.toSpecImage(SpecId)}" alt="SpecImage" />
<span data-bind="text: Name"></span>
