body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.centered {
    vertical-align: middle !important;
    text-align: center !important;
}

.vcentered {
    vertical-align: middle !important;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
    padding-left: 5px !important;
}

.notext {
    cursor: default;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nolink {
    text-decoration: none !important;
    color: inherit;
}

.inline-it {
    display: inline-block;
}

/* This gets Google to fall into place */
.social li {
	font-size: 1px;
    margin: 10px;
}

li.tw_button {
}

li.vk_button {
}

li.gplus_button {
}

li.fb_button {
}

li.donate_button {
}