<footer data-ng-cloak>

    <ul class="nav navbar-nav social row">
        <li class="tw_button col-lg-2 col-md-2 col-sm-4 col-xs-5">
            <a href="https://twitter.com/share" class="twitter-share-button"
               data-lang="en"
               data-hashtags="fotm"
               data-count="horizontal"
               data-url="http://fotm.info">
                Tweet
            </a>
        </li>

        <li class="vk_button col-lg-2 col-md-2 col-sm-4 col-xs-5">
            <div id="vk_like"></div>
        </li>

        <li class="fb_button col-lg-2 col-md-2 col-sm-4 col-xs-5">
            <div class="fb-like"
                 data-layout="button_count"
                 data-action="like"
                 data-show-faces="false"
                 data-share="false"
                 data-href="http://fotm.info">
            </div>
        </li>
        
        <li class="gplus_button col-lg-2 col-md-2 col-sm-4 col-xs-5">
            <div class="g-plusone google"
                 data-size="medium"
                 data-href="http://fotm.info">
            </div>
        </li>

        
    </ul>

</footer>

<script type="text/javascript">
    VK.Widgets.Like("vk_like",
    {
        type: "mini",
        pageTitle: "FotM - Командный рейтинг арен World of Warcraft"
    });
</script>
