<footer>

    <ul class="nav navbar-nav social row">
        <li class="tw_button col-lg-2 col-md-2 col-sm-4 col-xs-5">
            <a href="https://twitter.com/share" class="twitter-share-button"
               data-lang="en"
               data-hashtags="fotm"
               data-count="horizontal"
               data-url="http://fotm.info">
                Tweet
            </a>
        </li>

        <li class="vk_button col-lg-2 col-md-2 col-sm-4 col-xs-5">
            <div id="vk_like"></div>
        </li>

        <li class="fb_button col-lg-2 col-md-2 col-sm-4 col-xs-5">
            <div class="fb-like"
                 data-layout="button_count"
                 data-action="like"
                 data-show-faces="false"
                 data-share="false"
                 data-href="http://fotm.info">
            </div>
        </li>
        
        <li class="gplus_button col-lg-2 col-md-2 col-sm-4 col-xs-5">
            <div class="g-plusone google"
                 data-size="medium"
                 data-href="http://fotm.info">
            </div>
        </li>

        <li class="donate_button col-lg-2 col-md-2 col-sm-4 col-xs-5">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHNwYJKoZIhvcNAQcEoIIHKDCCByQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYAPLP0AQFSIxCxCHk9Le3HhhJKO8MzurJt29CTllSh1UHLTwwzO1sdKplFcihLX3Fo70xm1E/Ifirw5ddRl2GigS6MV/1J4B/1HNgf+s+ky2HLydT2XzLSglwD5exsbdAOqdJqxQYXVPASVPV4HuoiiHwnC7Kb4G6mX51ZpP9n52DELMAkGBSsOAwIaBQAwgbQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIYGRdK739TuyAgZDia1wCIc2ynmyqzt7fyy/iH+aPn+fUX3R/UzI7IoXk2lJ4cQM2460B2g6lTADtkEn+UPZ28djeLfJ+B/M4mYY1iJOyXAZrrMGnKDzxKPsT2c6NYjUeMSmHyj2oIlx8KuMRpPdXsIYmaiebiO4daasSRKD8yI2TU445osow8SIR2xl6LtMuxrAj2fx46b9XDtmgggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xNDA0MTgwMTA3MzRaMCMGCSqGSIb3DQEJBDEWBBSeUNInMAdcsC8O4hGdyjRqB/cVsTANBgkqhkiG9w0BAQEFAASBgLOoAQdmxhD+fR/25T6nTtGWYPHMj2iRE4VbseNPHXU3TyGfolobQn164KU+SUON5T5Nsmhos0MlI5iGyDGoDX9eF7fMjRaKHSzEQ+dxcg5LacB8pxiAp773ZeCvIHXZUFzYnqYoQ6MCdKRHM5lPsWtZnIHx4iStj1+oY2pADqKK-----END PKCS7-----">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
        </li>
    </ul>

</footer>

<script type="text/javascript">
    VK.Widgets.Like("vk_like",
    {
        type: "mini",
        pageTitle: "FotM - Командный рейтинг арен World of Warcraft"
    });
</script>
