@{
    ViewBag.Title = "FotM";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-lg-6">
        <p>
            Since World of Warcraft armory changed from team-based to player-based style many players missed old
            armory. So I've decided to give it a try and implement some data mining and machine learning to
            bring old armory back and throw some minor features on top. Hope you find it helpful.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <p>
            <strong>Made by:</strong>
            <span>Tagir Magomedov</span>
        </p>
    </div>

</div>