@{
    ViewBag.Title = "FotM";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    Since World of Warcraft armory changed from team-based to player-based style many players missed old 
    armory. So I've decided to give it a try and implement some data mining and machine learning to 
    bring some of the features back. Hope you find it helpful.
</p>

<address>
    <strong>Author:</strong>   Tagir Magomedov<br />
    <strong>Source:</strong>   <a href="https://github.com/Groz/fotm">https://github.com/Groz/fotm</a><br />
    <strong>Contact me:</strong> 
    <br />
    <a href="mailto:tagir.magomedov@gmail.com">
        <img src="http://icons.iconarchive.com/icons/marcus-roberto/google-play/24/Gmail-icon.png" />
    </a>
    <a href="https://www.facebook.com/tagir.magomedov">
        <img src="http://icons.iconarchive.com/icons/danleech/simple/24/facebook-icon.png" />
    </a>
    <a href="https://www.twitter.com/tagmg">
        <img src="http://icons.iconarchive.com/icons/dakirby309/windows-8-metro/24/Web-Twitter-alt-2-Metro-icon.png" />
    </a>
</address>