@model IEnumerable<FotM.Domain.TeamStats>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FotM</h1>
    <p class="lead">Monitor Armory.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">2v2 &raquo;</a></p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">3v3 &raquo;</a></p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">5v5 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        @foreach (var teamStats in Model)
        {
            
            foreach (var player in teamStats.Team.Players)
            {
                @*<img src="http://media.blizzard.com/wow/icons/18/race_@(player.RaceId)_@(player.GenderId).jpg" />*@
                <img src="http://media.blizzard.com/wow/icons/18/class_@(player.ClassId).jpg"/>
            }
            @teamStats.Rating<span> </span>
            @teamStats.RatingChange<span> </span>
            @teamStats.UpdatedUtc.ToLocalTime()
            <br/>
        }
    </div>
</div>