<img data-bind="attr:{src: $root.toRaceImage(RaceId)}" alt="RaceImage" />
<img class="hidden-xs"  data-bind="attr:{src: $root.toClassImage(ClassId)}" alt="ClassImage" />
<img data-bind="attr:{src: $root.toSpecImage(SpecId)}" alt="SpecImage" />
<span data-bind="text: Name"></span>
