<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Region" value="TEST"/>
    <add key="ServiceBusConnectionString" value="you are not getting my connection string!"/>
    <add key="BlizzardApiEndPoint" value="http://eu.battle.net"/>
  </appSettings>
</configuration>