<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>

    <add name="Microsoft.ServiceBus.ConnectionString" 
         connectionString="Endpoint=[insert prod service bus connection string here]"
         xdt:Transform="Replace"
         xdt:Locator="Match(name)"/>
    
    <add name="Microsoft.Storage.ConnectionString"
         connectionString="[insert prod storage connection string here]"
         xdt:Transform="Replace"
         xdt:Locator="Match(name)"/>
    
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)"/>
  </system.web>

</configuration>