<div class="row">
    <!-- FILTERS -->
    <div class="col-lg-3 col-md-3 col-sm-5"
         ng-include="'app/templates/shared/filters.html'">
    </div>

    <!-- MAIN LEADERBOARD -->
    <div class="col-lg-9 col-md-9 col-sm-12">
        <table class="table table-striped table-condensed table-responsive">
            <tbody>
                <!-- Teams -->
                <tr ng-repeat="team in teamsOnPage()">
                    <td class="centered">{{team.rank}}</td>

                    <td class="hidden-xs centered">
                        <img ng-src="{{media.factionImage(team.factionId)}}" alt="{{media.factionText(team.factionId)}}" />
                    </td>

                    <!-- Players -->
                    <td>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 nopadding" ng-repeat="player in team.players">

                                <a ng-href="{{media.armoryLink(region, player)}}" ng-click="armoryLookup(player)" class="nolink">

                                    <img ng-src="{{media.raceImage(player.race, player.gender)}}"
                                         alt="{{media.raceText(player.race)}}" />

                                    <img class="hidden-xs"
                                         ng-src="{{media.classImageForSpec(player.classSpec)}}"
                                         alt="{{media.classText(player.classSpec)}}" />

                                    <img ng-src="{{media.specImage(player.classSpec)}}"
                                         alt="{{media.specText(player.classSpec)}}" />

                                    <span>{{player.name}}</span>
                                    <span class="hidden-sm hidden-md hidden-xs">-</span>
                                    <span class="hidden-sm hidden-md hidden-xs">{{player.realm.realmName}}</span>

                                </a>
                            </div>
                        </div>
                    </td>
                    <!-- /Players -->

                    <td class="centered">{{team.wins}}</td>
                    <td class="centered">-</td>
                    <td class="centered">{{team.losses}}</td>
                    <td class="centered">{{team.rating}}</td>

                </tr>
                <!-- /Teams -->
            </tbody>
        </table>

        <ul class="pager">
            <li class="previous">
                <a role="button" class="btn btn-default" ng-click="previousPage()">&larr; Previous</a>
            </li>
            <li class="next">
                <a role="button" class="btn btn-default" ng-click="nextPage()">Next &rarr;</a>
            </li>
        </ul>

    </div>
</div>