<div class="row">
    <!-- FILTERS -->
    <div class="col-lg-3 col-md-3 col-sm-5">
        <div class="btn-group btn-group-justified">
            <div class="btn-group btn-group-vertical">
                <div class="btn-group btn-group-sm"><span class="btn btn-block label">Class</span></div>
                <div class="btn-group btn-group-sm"><span class="btn btn-block label">Spec</span></div>
            </div>

            <div class="btn-group btn-group-vertical" ng-repeat="fotmFilter in fotmFilters">

                <!-- FILTER CLASS -->
                <div class="dropdown btn-group btn-group-sm">

                    <!-- Dropdown button -->
                    <button type="button"
                            class="dropdown-toggle btn btn-default"
                            data-toggle="dropdown">

                        <img ng-if="fotmFilters[$index].className"
                             ng-src="{{media.classImage(fotmFilters[$index].className)}}"
                             alt="{{fotmFilters[$index].className}}" />

                        <span ng-if="!fotmFilters[$index].className">
                            All
                        </span>

                    </button>

                    <!-- Dropdown menu -->
                    <ul class="dropdown-menu" role="menu">

                        <li ng-repeat="(className, classId) in media.classes">

                            <a ng-click="fotmFilters[$parent.$index].className = className; fotmFilters[$parent.$index].specId = null; redirectToFilter();">
                                <img ng-src="{{media.classImage(className)}}" alt="{{className}}" />
                            </a>

                        </li>

                        <li class="notext">
                            <a ng-click="fotmFilters[$index].className = null; fotmFilters[$index].specId = null; redirectToFilter();">
                                All
                            </a>
                        </li>
                    </ul>

                </div>

                <!-- FILTER SPEC -->
                <div class="dropdown btn-group btn-group-sm">

                    <!-- Dropdown button -->
                    <button type="button"
                            class="dropdown-toggle btn btn-default"
                            data-toggle="dropdown">

                        <img ng-if="fotmFilters[$index].specId"
                             ng-src="{{getSpecForFilter($index).url}}"
                             alt="{{getSpecForFilter($index).text}}" />

                        <span ng-if="!fotmFilters[$index].specId">
                            All
                        </span>

                    </button>

                    <!-- Dropdown menu -->
                    <ul class="dropdown-menu" role="menu">

                        <li ng-if="fotmFilters[$parent.$index].className"
                            ng-repeat="(specId, spec) in getSpecsFor($index)">

                            <a ng-click="fotmFilters[$parent.$parent.$index].specId = specId; redirectToFilter();">
                                <img ng-src="{{spec.url}}" alt="{{spec.text}}" />
                            </a>

                        </li>

                        <li class="notext">
                            <a ng-click="fotmFilters[$index].specId = null; redirectToFilter();">All</a>
                        </li>

                    </ul>

                </div>

            </div> <!-- /fotmFilters -->
        </div>

        <!-- FOTM TABLE -->
        <table class="table table-striped table-condensed table-responsive table-hover">
            <tbody>
                <tr ng-repeat="setup in setups" class="notext">

                    <td class="hidden-md">{{setup.rank}}</td>
                    <td ng-repeat="spec in setup.specs">
                        <img ng-src="{{media.classImageForSpec(spec)}}" alt="{{media.classText(spec)}}" />
                        <img ng-src="{{media.specImage(spec)}}" alt="{{media.specText(spec)}}" />
                    </td>
                    <td>{{setup.percent}}</td>
                </tr>
            </tbody>
        </table>

    </div>

    <!-- MAIN LEADERBOARD -->
    <div class="col-lg-9 col-md-9 col-sm-12">
        <table class="table table-striped table-condensed table-responsive">
            <tbody>
                <!-- Teams -->
                <tr ng-repeat="team in teams">
                    <td class="centered">{{team.rank}}</td>

                    <td class="hidden-xs centered">
                        <img ng-src="{{media.factionImage(team.factionId)}}" alt="{{media.factionText(team.factionId)}}" />
                    </td>

                    <!-- Players -->
                    <td>
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 centered" ng-repeat="player in team.players">

                                <a ng-href="{{media.armoryLink(region, player)}}" class="nolink">

                                    <img ng-src="{{media.raceImage(player.race, player.gender)}}"
                                         alt="{{media.raceText(player.race)}}" />

                                    <img class="hidden-xs"
                                         ng-src="{{media.classImageForSpec(player.classSpec)}}"
                                         alt="{{media.classText(player.classSpec)}}" />

                                    <img ng-src="{{media.specImage(player.classSpec)}}"
                                         alt="{{media.specText(player.classSpec)}}" />

                                    <span>{{player.name}}</span>
                                </a>
                            </div>
                        </div>
                    </td>
                    <!-- /Players -->

                    <td class="centered">{{team.wins}}</td>
                    <td class="centered">-</td>
                    <td class="centered">{{team.losses}}</td>
                    <td class="centered">{{team.rating}}</td>

                </tr>
                <!-- /Teams -->
            </tbody>
        </table>
    </div>
</div>