@model dynamic

@section scripts {
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="~/Scripts/my/main.js"></script>
}

<div ng-app="fotmApp" ng-controller="fotmController">
    
    <h1>@Model.title</h1>

    <ul>
        <li ng-repeat="integer in list">
            {{$index}} = {{integer}}
        </li>
    </ul>

</div>
