@model dynamic

@section scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular.js"></script>
    <script src="~/Scripts/my/main.js"></script>
}

<div ng-app="mainApp">

    <h1>@Model.title</h1>

    <div class="container" ng-controller="SimpleController">

        Name: <input type="text" ng-model="name" /> {{ name }}

        <ul>
            <li ng-repeat="p in persons | filter:name | orderBy:'city'">
                {{ p.name }} - {{ p.city }}
            </li>
        </ul>

    </div>

</div>
