<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

  <log4net>

    <!-- 
    Log all DEBUG+ messages to RollingFile.
    Log all INFO+ messages to Console and RollingFile.    
    
    Save maximum of 10 files per day, each no bigger than 1 MB.
    -->

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%file:%line] - %message%newline" />
      </layout>

      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
      </filter>
    </appender>

    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="logs/FotM.ArmoryScanner.%date{yyyy_MM_dd}.log"/>
      <appendToFile value="true" />
      
      <rollingStyle value="Composite"/>
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB"/>
      
      <staticLogFileName value="true"/>

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>


    <root>
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingFile" />
    </root>

    <logger name="FotM.ArmoryScanner.RawJsonPuller">
      <level value="DEBUG" />
    </logger>

  </log4net>

  <appSettings>
    <add key="Microsoft.ServiceBus.ConnectionString" value="test"/>
  </appSettings>

</configuration>